<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Newjueqi_Invoicebill>
			<version>0.1.0</version>
		</Newjueqi_Invoicebill>
	</modules>
	<global>
        <models>
            <invoicebill>
                <class>Newjueqi_Invoicebill_Model</class>
                <resourceModel>invoicebill_mysql4</resourceModel>                
            </invoicebill>   
            <invoicebill_mysql4>
                <class>Newjueqi_Invoicebill_Model_Mysql4</class>
                <entities>
                    <invoicebillcustomer>
                        <table>invoicebill_customer</table>
                    </invoicebillcustomer>
                    <invoicebillorder>
                        <table>invoicebill_order</table>
                    </invoicebillorder>                    
                </entities>
            </invoicebill_mysql4>            
        </models>
        <helpers>
            <invoicebill>
                <class>Newjueqi_Invoicebill_Helper</class>
            </invoicebill>
        </helpers>
        <blocks>
            <invoicebill>
                <class>Newjueqi_Invoicebill_Block</class>
            </invoicebill>
        </blocks>
        <resources>
            <invoicebill_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </invoicebill_write>
            <invoicebill_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </invoicebill_read>
        </resources>         
	</global>
    <adminhtml>
        <layout>
            <updates>
                <invoicebill>
                    <file>invoicebill.xml</file>
                </invoicebill>
            </updates>
        </layout>
        <translate>
            <modules>
                <Newjueqi_Invoicebill>
                    <files>
                        <default>Newjueqi_Invoicebill.csv</default>
                    </files>
                </Newjueqi_Invoicebill>
            </modules>
        </translate>
    </adminhtml>
	<frontend>
		<routers>
			<invoicebill>
				<use>standard</use>
				<args>
					<module>Newjueqi_Invoicebill</module>
					<frontName>invoicebill</frontName>
				</args>
			</invoicebill>
		</routers>
        <layout>
            <updates>
                <invoicebill>
                    <file>invoicebill.xml</file>
                </invoicebill>
            </updates>
        </layout>   
        <translate>
            <modules>
                <Newjueqi_Invoicebill>
                    <files>
                        <default>Newjueqi_Invoicebill.csv</default>
                    </files>
                </Newjueqi_Invoicebill>
            </modules>
        </translate>
	</frontend>
</config> 
